.food {
    background-color: #fff;
    color: #92A0AE;
    font-size: 1.5em;
    margin: 10px 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CircularProgressbar {
    width: 10% !important;
}

.calories {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f1f1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    margin-right: 15px;
    border-radius: 7px;
}

img {
    width: 100px;
    padding: 10px;
    color: #60ACE0;
    display: block;
    margin: auto;
}

.measure-wrapper {
    display: flex;
}

.title {
    margin-bottom: 5px;
}