header {
    background-color: #42B5E8;
    color: #fff;
    height: 6em;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover {
    color: cyan;
}

header span {
    padding: 0 10px;
}