.wrapper {
    margin: 0 auto 10px auto;
    text-align: left;
    margin-top: 120px;
    background-color: #F3F4F6;
    padding: 6.5em 0 0 !important;
}

.food-list {
    padding-bottom: 6em;
}

form {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #333333;
    padding: 20px;
}

input {
    display: block;
    /* margin: 0; */
    padding-left: 10px !important;
    height: 30px;
    background: #fff;
    width: 100%;
    border: 2px solid #d0d0d0 !important;
    border-radius: 3px;
}

input:focus {
    outline: yellowgreen;
}

.btn {
    background-color: #42B5E8 !important;
    color: #ffffff !important;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    font-family: 'Roboto Slab', serif;
    width: auto;
    white-space: nowrap;
    height: 42px;
    margin: 12px 5px 12px 0;
    padding: 0 22px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none !important;
    border-radius: 2px;
    vertical-align: top;
    width: 25%;
}

